<html>
	<head> <title> Sistema de control de Ingreso </title>
	<body>
		<h1> Mantenimientos </h1>
		<hr>
		<h3> Opciones </h3>
		<ul>
			<li> <a href=/m_areas_listado>Areas</a> </li> <p>
			<li> <a href=/m_cargos_listado>Cargo</a> </li> <p>
		<ul>
	<body>
<html>